
  %icon-account-regular {
  content: "\f101";
  }

  .icon-account-regular:before {
  content: "\f101";
  }

  %icon-account {
  content: "\f102";
  }

  .icon-account:before {
  content: "\f102";
  }

  %icon-arrow-left {
  content: "\f103";
  }

  .icon-arrow-left:before {
  content: "\f103";
  }

  %icon-bana-ozel {
  content: "\f104";
  }

  .icon-bana-ozel:before {
  content: "\f104";
  }

  %icon-bell {
  content: "\f105";
  }

  .icon-bell:before {
  content: "\f105";
  }

  %icon-calendar {
  content: "\f106";
  }

  .icon-calendar:before {
  content: "\f106";
  }

  %icon-cart-notification {
  content: "\f107";
  }

  .icon-cart-notification:before {
  content: "\f107";
  }

  %icon-certificate {
  content: "\f108";
  }

  .icon-certificate:before {
  content: "\f108";
  }

  %icon-check-round {
  content: "\f109";
  }

  .icon-check-round:before {
  content: "\f109";
  }

  %icon-check {
  content: "\f10a";
  }

  .icon-check:before {
  content: "\f10a";
  }

  %icon-circle-error {
  content: "\f10b";
  }

  .icon-circle-error:before {
  content: "\f10b";
  }

  %icon-circle-info {
  content: "\f10c";
  }

  .icon-circle-info:before {
  content: "\f10c";
  }

  %icon-circle-success {
  content: "\f10d";
  }

  .icon-circle-success:before {
  content: "\f10d";
  }

  %icon-circle-warning {
  content: "\f10e";
  }

  .icon-circle-warning:before {
  content: "\f10e";
  }

  %icon-clipboard {
  content: "\f10f";
  }

  .icon-clipboard:before {
  content: "\f10f";
  }

  %icon-close {
  content: "\f110";
  }

  .icon-close:before {
  content: "\f110";
  }

  %icon-combined {
  content: "\f111";
  }

  .icon-combined:before {
  content: "\f111";
  }

  %icon-documents {
  content: "\f112";
  }

  .icon-documents:before {
  content: "\f112";
  }

  %icon-download {
  content: "\f113";
  }

  .icon-download:before {
  content: "\f113";
  }

  %icon-earth {
  content: "\f114";
  }

  .icon-earth:before {
  content: "\f114";
  }

  %icon-facebook {
  content: "\f115";
  }

  .icon-facebook:before {
  content: "\f115";
  }

  %icon-faturama-yansit {
  content: "\f116";
  }

  .icon-faturama-yansit:before {
  content: "\f116";
  }

  %icon-firsatlar {
  content: "\f117";
  }

  .icon-firsatlar:before {
  content: "\f117";
  }

  %icon-folder2 {
  content: "\f118";
  }

  .icon-folder2:before {
  content: "\f118";
  }

  %icon-garbage {
  content: "\f119";
  }

  .icon-garbage:before {
  content: "\f119";
  }

  %icon-hedef {
  content: "\f11a";
  }

  .icon-hedef:before {
  content: "\f11a";
  }

  %icon-linkedin {
  content: "\f11b";
  }

  .icon-linkedin:before {
  content: "\f11b";
  }

  %icon-location {
  content: "\f11c";
  }

  .icon-location:before {
  content: "\f11c";
  }

  %icon-logout {
  content: "\f11d";
  }

  .icon-logout:before {
  content: "\f11d";
  }

  %icon-mail {
  content: "\f11e";
  }

  .icon-mail:before {
  content: "\f11e";
  }

  %icon-minus {
  content: "\f11f";
  }

  .icon-minus:before {
  content: "\f11f";
  }

  %icon-pencil {
  content: "\f120";
  }

  .icon-pencil:before {
  content: "\f120";
  }

  %icon-permission {
  content: "\f121";
  }

  .icon-permission:before {
  content: "\f121";
  }

  %icon-phone {
  content: "\f122";
  }

  .icon-phone:before {
  content: "\f122";
  }

  %icon-play {
  content: "\f123";
  }

  .icon-play:before {
  content: "\f123";
  }

  %icon-plus {
  content: "\f124";
  }

  .icon-plus:before {
  content: "\f124";
  }

  %icon-return {
  content: "\f125";
  }

  .icon-return:before {
  content: "\f125";
  }

  %icon-search {
  content: "\f126";
  }

  .icon-search:before {
  content: "\f126";
  }

  %icon-settings {
  content: "\f127";
  }

  .icon-settings:before {
  content: "\f127";
  }

  %icon-twitter {
  content: "\f128";
  }

  .icon-twitter:before {
  content: "\f128";
  }

  %icon-wallet {
  content: "\f129";
  }

  .icon-wallet:before {
  content: "\f129";
  }
