.horizontal-table {
  .ant-table {
    margin-top: 0 !important;

    &-tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 0;
          }
        }
        td {
          font-size: 10.5px;
          padding: 5px 16px;
          &:first-child {
            font-weight: bold;
            color: #25265e;
          }
        }
      }
    }
  }
}
